<app-header [isLoggedin]="isloggedin"[username]="username"(loginToggle)="onLoginToggle(username)"></app-header>

<div class="layout-container">
  <app-sidebar (ActivePage)="onChangePage($event)"></app-sidebar>

  <main>
    @if (isloggedin && ActivePage === 'Login') {
    <app-login></app-login>
    } @else if (ActivePage === 'My Profile') {
    <app-profile [username]="username"></app-profile>
    } @else if (ActivePage === 'Contact Us') {
    <app-contact-us></app-contact-us>
    } @else if (ActivePage === 'About Us') {
    <app-about-us></app-about-us>
    } @else if (ActivePage === 'Add User') {
    <app-add-user></app-add-user>
    } @else if (ActivePage === 'Get Universties') {
    <app-get-unveristy></app-get-unveristy>
    }
  </main>
</div>

<app-footer></app-footer>
